$primary-color: #fff;
$secondary-color: #0a0a0a;
$text-gray: #9e9e9e;
$paragraph-gray: #4b4b4b;
$background-dark: #171717;
$border-dark: gray;
$second-color: #0a0a0a;

$font-family: "Syne", sans-serif;
$font-weight-bold: 800;
$font-size-big: 3.75rem;
$font-size-medium: 35px;
$font-size-small: 20px;

$padding-default: 70px;
$padding-small: 40px;

$header-title-lg: 80px;
$header-title-md: 4rem;
$header-title-sm: 3.5rem;
$header-title-xs: 2.75rem;

$portfolio-number-lg: 70px;

$benefits-number-lg: 60px;
$benefits-number-sm: 10vw;


